.game-menu-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-menu {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.game-menu button {
    background: linear-gradient(145deg, #1a2a6c, #b21f1f, #fdbb2d);
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 15px 30px;
    margin: 20px;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
}

.game-menu button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #222121;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.modal-content p {
    color: #fff;
    text-align: center;
    text-shadow: #1a2a6c;
    margin: auto 0;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal form {
    margin-top: 20px;
}

.modal input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal button[type="submit"]:hover {
    background-color: #2980b9;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}