.setting-opponent-grid {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(11, 30px);
    grid-template-rows: repeat(11, 30px);
}

.setting-playing-grid div {
    border: 1px solid #ddd;
    height: 30px;
}